{% extends 'base.html' %}


{% block content %}
    <div class="page-title">Kurslar</div>

    <div class="filters">
        <select>
            <option>Kurs turi</option>
            <option>PROGRAMMING</option>
            <option>ENGLISH</option>
            <option>DESIGN</option>
        </select>
        <select>
            <option>Holati</option>
            <option>ACTIVE</option>
            <option>INACTIVE</option>
        </select>
    </div>

    <div class="table-box">
        <table>
            <tr>
                <th>Nomi</th>
                <th>Turi</th>
                <th>Davomiyligi</th>
                <th>Holati</th>
            </tr>
            <tr>
                <td>Python</td>
                <td>PROGRAMMING</td>
                <td>6 oy</td>
                <td>ACTIVE</td>
            </tr>
        </table>
    </div>
    
{% endblock %}
