{% extends 'base.html' %}


{% block content %}
    <div class="page-title">Guruh: Python-01</div>

    <div class="detail-card">
        <p><strong>Kurs:</strong> Python Programming</p>
        <p><strong>Mentor:</strong> Akmal Ismoilov</p>
        <p><strong>Dars kunlari:</strong> ODD</p>
        <p><strong>Boshlanish:</strong> 2024-10-01</p>
    </div>

    <div class="page-title">O‘quvchilar</div>

    <div class="table-box">
        <table>
            <tr>
                <th>Ism</th>
                <th>Status</th>
            </tr>
            <tr>
                <td>Ali Karimov</td>
                <td>ACTIVE</td>
            </tr>
        </table>
    </div>
{% endblock %}
