{% extends 'base.html' %}


{% block content %}
    <div class="page-title">Bosh sahifa</div>

    <div class="stats">
        <div class="stat-card">
            <span>Jami o‘quvchilar</span>
            <h2>120</h2>
        </div>
        <div class="stat-card">
            <span>Faol o‘quvchilar</span>
            <h2>95</h2>
        </div>
        <div class="stat-card">
            <span>Mentorlar</span>
            <h2>8</h2>
        </div>
        <div class="stat-card">
            <span>Faol guruhlar</span>
            <h2>6</h2>
        </div>
    </div>
{% endblock %}
