{% extends 'base.html' %}


{% block content %}
    <div class="page-title">Mentorlar</div>

    <div class="filters">
        <select>
            <option>Daraja</option>
            <option>JUNIOR</option>
            <option>MIDDLE</option>
            <option>SENIOR</option>
        </select>
        <select>
            <option>Holati</option>
            <option>ACTIVE</option>
            <option>INACTIVE</option>
        </select>
    </div>

    <div class="table-box">
        <table>
            <tr>
                <th>Ism</th>
                <th>Familiya</th>
                <th>Daraja</th>
                <th>Holati</th>
            </tr>
            <tr>
                <td>Akmal</td>
                <td>Ismoilov</td>
                <td>SENIOR</td>
                <td>ACTIVE</td>
            </tr>
        </table>
    </div>
{% endblock %}
